aiohttp
altgraph
async-lru
async-timeout
attrs
bottle
bottle-websocket
certifi
cffi
chardet
Cybernator
discord.py
Eel
future
gevent
gevent-websocket
greenlet
idna
multidict
neat-python
pefile
Pillow
pip
pyaes
pycparser
pygame
pyinstaller
pyinstaller-hooks-contrib
PyNaCl
pyparsing
Pyrogram
PySocks
pywin32-ctypes
requests
setuptools
six
TgCrypto
urllib3
whichcraft
yarl
youtube-dl
zope.event
zope.interface
